@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.iniciarSesionContainer {
  padding: 1rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: #009f85;
}
.iniciarSesionContainer .formularioInicioSesion {
  background-color: #e8e8e8;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  /* input */
  /* fin prueba input */
  /* boton de inicio */
}
.iniciarSesionContainer .formularioInicioSesion .tituloInicioSesion {
  color: #009f85;
  padding: 1rem;
  text-align: center;
}
.iniciarSesionContainer .formularioInicioSesion .wave-group {
  position: relative;
}
.iniciarSesionContainer .formularioInicioSesion .wave-group .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #009f85;
  background: transparent;
}
.iniciarSesionContainer .formularioInicioSesion .wave-group .input:focus {
  outline: none;
}
.iniciarSesionContainer .formularioInicioSesion .wave-group .label {
  color: #009f85;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}
.iniciarSesionContainer .formularioInicioSesion .wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * 0.05s);
}
.iniciarSesionContainer .formularioInicioSesion .wave-group .input:focus ~ label .label-char,
.iniciarSesionContainer .formularioInicioSesion .wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: #000000;
}
.iniciarSesionContainer .formularioInicioSesion .wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}
.iniciarSesionContainer .formularioInicioSesion .wave-group .bar:before,
.iniciarSesionContainer .formularioInicioSesion .wave-group .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #009f85;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.iniciarSesionContainer .formularioInicioSesion .wave-group .bar:before {
  left: 50%;
}
.iniciarSesionContainer .formularioInicioSesion .wave-group .bar:after {
  right: 50%;
}
.iniciarSesionContainer .formularioInicioSesion .wave-group .input:focus ~ .bar:before,
.iniciarSesionContainer .formularioInicioSesion .wave-group .input:focus ~ .bar:after {
  width: 50%;
}
.iniciarSesionContainer .formularioInicioSesion .wave-group {
  padding: 1rem 0;
}
.iniciarSesionContainer .formularioInicioSesion .button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: #009f85;
  background-color: rgba(0, 0, 0, 0.0862745098);
  z-index: 1;
  width: 80%;
}
.iniciarSesionContainer .formularioInicioSesion .button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.031372549);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.iniciarSesionContainer .formularioInicioSesion .button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009f85;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.iniciarSesionContainer .formularioInicioSesion .button:hover {
  color: #ffffff;
  border: 1px solid #009f85;
}
.iniciarSesionContainer .formularioInicioSesion .button:hover:before {
  top: -35%;
  background-color: #009f85;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.iniciarSesionContainer .formularioInicioSesion .button:hover:after {
  top: -45%;
  background-color: #009f85;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.header {
  background-color: #009f85;
  padding: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .link-inicio {
  color: #ffffff;
  transition: all 0.5s;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}
.header .link-inicio:hover {
  transform: scale(0.9);
}
.header .nav {
  display: flex;
}
.header .nav .nav-item {
  font-family: "Roboto", sans-serif;
  color: #cbcbcb;
  font-size: 18px;
  padding: 0 1rem;
  transition: all 0.5s;
}
.header .nav .nav-item:hover {
  color: #ffffff;
  transform: scale(0.9);
}
.header .bx-menu-alt-right {
  color: #cbcbcb;
  font-size: 28px;
  transition: all 0.5s;
  cursor: pointer;
}
.header .bx-menu-alt-right:hover {
  color: #fff;
  transform: scale(0.9);
}

/* @media (max-width: 620px) {
    .nav{
        background-color: $color-principal;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50vw;
        height: 30vh;
        right: -200px;
        right: 0;
        top: 14rem;
        padding: 0.5rem;
    }
    .nav-item{
        padding: 0.5rem;
    }
    .bx-menu-alt-right{

        position: absolute;
        top: 1.25rem;
        right: 1rem;
        z-index: 2000;
    }
} */
.stock-container {
  /* background: url("../img/logoPiedraTransparent.png");
  background-repeat: no-repeat;
  background-position: top right;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  #productos-list{
      background-color: #ff90905d;
      .producto{
          padding: 1rem;
          background-color: #d58eff5d;
          p{
              color: #383838;
              strong{
                  color: #383838;
                  padding: 0 .3rem;
              }
          }
      }
  } */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=estilos.css.map */
