@import './variables.scss';
@import './inicioSesion.scss';
@import './header.scss';
@import './hero.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.toastify{
    font-family: $fuente-texto-general;
    font-size: 18px;
}
