.politica-de-envio {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    .link-politica-envio {
        font-family: $fuente-texto-general;
        font-size: 12px;
        color: #000;
    }
}


.header {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    font-family: $fuente-texto-general;
    background-color: #fff;

    .bx {
        font-size: 24px;
        cursor: pointer;
        color: #000000;
    }

    .bx:hover {
        transform: scale(1.1);
    }

    .nav {
        position: absolute;
        top: 123px;
        left: -200px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        transition: all .5s;
        opacity: 1;
        .nav-links {
            display: flex;
            flex-direction: column; 
            .nav-item {
                font-size: 18px;
                padding: .8rem;
                color: #4d4d4d;
                transition: all .5s;
            }

            .nav-item:hover {
                background-color: #00000053;
            }
        }

        .link-instagram {
            padding: 1rem 0.5rem;
            transition: all .5s;
        }

        .link-instagram:hover {
            background-color: #00000053;
        }
    }

    .activo {
        left: 0;
        opacity: 1;
        z-index: 100;
    }

    .link-inicio {
        img {
            height: 120px;
        }
    }
}